body {
    position: relative;
    height: 100%;
}

main{
    padding-top: 56px;
}
section{
    min-height: 200px;
}
article{
    margin-top: 50px;
}

article > h2{
    margin-top: 50px;
    margin-bottom: 30px;
}

h1{
    margin-top: 30px;
}

nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 576px) {
    nav > .container {
        margin-left: 0;
        margin-right: 0;
    }
}

/*Carousel*/
#carouselBicicas{
    max-width:350px !important;
    max-height: 500px !important;
    margin: auto;
}

#carouselHackathon{
    max-width:350px !important;
    max-height: 500px !important;
    margin: auto;
}
.carousel-image{
    /*max-width:316px !important;*/
    max-height: 500px !important;
    margin: auto;
}

.playButton{
    margin-left:-12px;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
    display: none;
}
body{
    text-align: justify;
    text-justify: inter-word;
}
